    <div class="center jumbotron">
      <h1>twitter with curses</h1>

      <h2>
        microblogging for the brave and true
      </h2>

    <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
